<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Diamary Rios V-20.589-352</title>
    <link rel="stylesheet" href="/stylesheets/style.css">

</head>
<body>
    <hr>
    <nav class="pl-1 pr-1 pt-1 pb-1">
        <a href="/">CRUD Biblioteca - Diamarys Rios |</a>
        <a href="/autores">Autores |</a>
        <a href="/libros">Libros |</a>
        <a href="/editoriales">Editoriales |</a>
        <a href="/instancia_libros">Libros de la biblioteca </a>
    </nav>
    <hr>
    <!-- Contenido -->
    <div class="container">
